@font-face {
  font-family: "gloucester_mt_extra_condensRg";
  src: url("../font/gloucester-webfont.woff2") format("woff2"), url("../font/gloucester-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gloucester_mt_extra_condensRg";
}

body {
  width: 100%;
  height: auto;
  background: #000000;
  display: block;
  color: white;
  overflow: hidden;
  background: blue;
}
body .general {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: green;
}
body .general .logo {
  width: 100%;
  max-width: 300px;
  position: relative;
  z-index: 1000;
  transition: 300ms;
  top: 20px;
  animation: appear 1500ms;
}
body .general .header {
  top: 0;
  width: 100%;
  min-width: 200px;
  background: black;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  gap: 15vh;
  overflow: hidden;
}
body .general .header.gone {
  animation: gone 3000ms ease-in-out;
}
body .general .header.hide {
  display: none;
}
body .general .header .screen {
  width: 100%;
  height: 100vh;
  background: transparent;
  position: absolute;
  top: 0;
  z-index: -10;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: up 800ms ease-in-out;
}
body .general .header .screen img {
  position: absolute;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  height: 100vh;
}
body .general .header .slogan {
  background: transparent;
  width: 100%;
  height: auto;
  position: relative;
  top: 40%;
}
body .general .header .slogan p {
  color: #ffffff;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
  animation: on 7000ms ease-in-out;
}
body .general .header .slogan p span {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .general .header .getdown {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  bottom: 15%;
  animation: godown 7000ms ease-in-out;
}
body .general .header .getdown .dot {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
body .general .hub {
  background: red;
  width: 20%;
}

@keyframes godown {
  0% {
    gap: 0px;
  }
  40% {
    gap: 50px;
    transform: rotate(-2000deg);
  }
  80% {
    gap: 0px;
    transform: rotate(0deg);
  }
  100% {
    gap: 30px;
  }
}
@keyframes on {
  0% {
    gap: 30px;
  }
  40% {
    gap: 10px;
  }
  100% {
    gap: 50px;
  }
}
@keyframes up {
  0% {
    opacity: 0;
    transform: rotate(-5deg) translate(0px, 10px);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translate(0px, 0px);
  }
}
@keyframes gone {
  0% {
    transform: rotate(0deg) translate(0px, 0px);
  }
  10% {
    transform: rotate(-5deg) translate(0px, 0px);
    opacity: 1;
  }
  40% {
    transform: rotate(0deg) translate(0px, -1000px);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0px, -1000px);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    top: 0px;
  }
  100% {
    opacity: 1;
    top: 20px;
  }
}
/*
main {
    position: relative;
    height: 100vh;
    background: radial-gradient(#9f63ff, #000000 88%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    header {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        backdrop-filter: blur(50px);
        background-color: #0000009c;

        .dec {
            width: 350px;
            min-width: 90px;
            transition: 500ms;
        }

        a {
            display: flex;
            justify-content: center;
            cursor: pointer;

            img {
                min-width: 280px;
                height: 120px;
            }
        }
    }

    section {
        position: absolute;
        width: 95%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 130px;
        padding: 20px;
        backdrop-filter: blur(50px);
        background-color: #000000b9;
        box-shadow: 0 0 30px 5px black;

        h2 {
            margin-bottom: 20px;
            color: white;
            padding: 0;
            font-size: 40px;
            font-weight: 100;
            text-align: center;

            span {
                font-size: 30px;
            }
        }

        .revs {
            width: 90%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .des {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 25%;
                padding: 30px;
                border-radius: 3px;
                background-color: #00000000;
                transition: 400ms ease-in-out;

                &:hover {
                    box-shadow: 0 0 20px 2px #68399b81;
                    background-color: #00000010;

                    .link {
                        .img {
                            transform: scale(1.1);
                            box-shadow: 0 0 40px 1px #3030308f;
                        }

                        h3 {
                            transform: scale(1.1);
                        }
                    }
                }

                .link {
                    width: 100%;
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    .img {
                        max-width: 180px;
                        transition: 200ms;
                    }


                    h3 {
                        color: white;
                        font-size: 20px;
                        font-weight: 100;
                        letter-spacing: 1px;
                        margin-top: 30px;
                        transition: 250ms;
                    }
                }

            }
        }
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: end;

        .colectivo {
            background: black;
            width: 180px;
            height: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 200ms ease-in-out;

            &.izq {
                border-radius: 0px 30px 0px 0px;
            }

            &.der {

                border-radius: 30px 0px 0px 0px;
            }

            &:hover {
                box-shadow: 0 0 30px 1px #ffffff28;
            }

            a {
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h5 {
                    font-size: 20px;
                    color: #dbdbdb;
                }

                p {
                    color: #cacaca;
                    font-size: 15px;
                }

                h5,
                p {
                    font-weight: 100;
                }

                img {
                    width: 100px;
                    opacity: 0.8;
                }
            }
        }

        .fin {
            background: #0000009c;
            width: 100%;

            p {
                color: #979797;
                font-weight: 100;
                font-size: 20px;
                text-align: center;
                margin: 5px;
            }
        }
    }
}

@media (max-width:800px) {
    main {
        height: 100vh;

        header {
            background-color: #0000007c;

            .dec {
                width: 150px;

                &.one {
                    transform: rotate(60deg);
                }

                &.two {
                    transform: rotate(-60deg);
                }
            }
        }

        section {
            width: 95%;

            h2 {
                font-size: 30px;

                span {
                    font-size: 25px;
                }
            }

            .revs {
                gap: 10px;

                .des {
                    width: 90%;
                    background: none;

                    .link {
                        width: 100%;

                        .img {
                            width: 100%;
                        }
                    }
                }
            }
        }

        footer {
            height: 130px;
            background: black;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .colectivo {
                background: none;
                height: 130px;

                &:hover {
                    box-shadow: none;
                }

                a {
                    h5 {
                        font-size: 15px;
                    }

                    p {
                        font-size: 10px;
                    }

                    img {
                        height: 80px;
                        width: 80px;
                    }
                }
            }

            .fin {
                width: 50%;

                p {
                    font-size: 15px;
                }
            }
        }
    }
}*//*# sourceMappingURL=style.css.map */